/*Head*/
body{

}

/*Body*/
body header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: row;

}
body main aside nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
body main aside nav ul{
    padding: 0;
    margin: 0;
}

body main aside nav ul li{
    display: inline;
}
/*Footer*/

/* General Styles */
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}