/*Body*/


/*Header*/
header{

}

/*Main*/
body main{
    padding: 20px;
}

body header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: row;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 20px;
    padding-right: 20px;

}
/*Body Aside*/
body main aside {
    padding: 20px;
}
body main aside nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
body main aside nav ul{
    padding: 0;
    margin: 0;
}

body main aside nav ul li{
    padding: 10px;
    font-size: 24px;
    display: inline;
}
body main article{
    background: linear-gradient(
        135deg,
        #faf9ff 0%,
        #f6f4ff 50%,
        #f0ebff 100%
    );
}

/*Footer*/

/* General Styles */
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}